body {
    margin: 0;
    font-family: "avenir-black";
    color: #354CBF;
    background-color: #E0EBFB;
    overflow-x: hidden;
    overflow-y: scroll;
}
a {
    text-decoration: none;
}

h1 {
    font-size: 64px;
    color: #354CBF;
}