#side-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1000;
    width: 100px;
    height: 100vh;
    background-color:#354CBF;
    border-radius: 0 1.5rem 1.5rem 0;
}

#logo-menu {
    padding: 2rem;
}

#on {
    transition: background-color 0.2s;
    background-color: #E0EBFB;
    box-shadow: inset 0 5px 10px #ffffff;
}

#text-on {
    color: #354CBF !important;
}

.menu-item {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #354CBF;
    border-radius: 2.25rem;
    margin: 1.5rem 14px;
    cursor: pointer;
}

.menu-text {
    margin-top: -0.1rem;
    color: #E0EBFB;
    text-align: center;
    font-size: 11.5px;
}

.menu-icon img{
    width: 34px;
    height: auto;
    margin: 7px 19px -2px 19px;
}

.item-off {
    transition: background-color 0.2s;
}

.item-off:hover{
    background-color: #253aa1;

}

#on:active {
    background-color: #bacde8;
}

.item-off:active{
    background-color: #172a87;
}