@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #E0EBFB;
}

.box {
    position: relative;
    width: 380px;
    height: 750px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 750px;
    background: linear-gradient(0deg, transparent, #354CBF,#354CBF);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 750px;
    background: linear-gradient(0deg, transparent, #354CBF,#354CBF);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #fafafa;
    z-index: 10;
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
}
.form h2 {
    color: #3B7DE4;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1em;
}
.form h1 {
    color: #49A0D8;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0em;
    padding: 15px;
    font-size: 2.5em;
}
.inputBox {
    position: relative;
    width: 300px;
    margin-top: 20px;
}
.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #3B7DE4;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #49A0D8;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}
.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #49A0D8;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i
{
    height: 44px;
} 
.links {
    display: flex;
    justify-content: center;
}
.links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover,
.links a:nth-child(2)
{
    color: #49A0D8;
}
.links label {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.links label:hover,
.links label:nth-child(1)
{
    color: #49A0D8;
}
input[type="submit"] {
    position: auto;
    border: none;
    outline: none;
    background: #3B7DE4;
    padding: 13px 25px;
    width: 130px;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin: auto;
}
input[type="submit"]:active {
    opacity: 0.8;
}
.headbox {
    background-color: #E0EBFB;
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}