<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>Dashboard</title>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="../static/media/font/stylesheet.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/devices.css">

    <script type="text/javascript">
        console.log({{selfchecks|safe}})

    </script>
</head>
<body>
    <div id="side-menu">
        <div id="logo-menu">
            <img src="../static/media/logo.png" alt="">
        </div>
        <a href="{{ url_for('main.dashboard_') }}">
            <div class="menu-item item-off">
                <div class="menu-icon">
                    <img src="../static/media/homeOff.png" alt="">
                </div>
                <p class="menu-text">Home</p>
            </div>
        </a>
        <a href="{{ url_for('main.devices') }}">
            <div id="on" class="devicesfix menu-item">
                <div class="menu-icon">
                    <img src="../static/media/devicesOn.png" alt="">
                </div>
                <p id="text-on" class="menu-text">Devices</p>
            </div>
        </a>
        <a href="{{ url_for('main.analysis') }}">
            <div class="menu-item item-off">
                <div class="menu-icon">
                    <img src="../static/media/02.png" alt="">
                </div>
                <p class="menu-text">Analysis</p>
            </div>
        </a>
        <div class="menu-item item-off">
            <div class="menu-icon">
                <img src="../static/media/01.png" alt="">
            </div>
            <p class="menu-text">Account</p>
        </div>
    </div>
    <div id="content">
        <div id="head">
            <div id="head-title">
                <h1>Devices</h1>
                <img src="../static/media/devices-large.png" alt="">
            </div>
            <div id="filter-bar">
                <div id="year-selection">
                    <label>
                        <input type="radio" name="options"/>
                        <span>2021</span>
                    </label>
                    <label>
                        <input type="radio" name="options"/>
                        <span>2022</span>
                    </label>
                </div>
                <div id="legend">
                    <div id="pass-legend">
                        <div id="pass-dot"></div>
                        <p id="pass-text">Pass</p>
                    </div>
                    <div id="used-legend">
                        <div id="used-dot"></div>
                        <p id="used-text">Used</p>
                    </div>
                    <div id="fail-legend">
                        <div id="fail-dot"></div>
                        <p id="fail-text">Fail</p>
                    </div>
                </div>
                <div id="inputfilter">
                    <input type="text" id="searchbar" name="searchbar" placeholder="Search...">
                    <img src="../static/media/filter.png" alt="">
                </div>
            </div>
            <div id="bluebar"></div>
        </div>
        <div id="devices">
            <div class="address">
                <div class="address-head">
                    <div class="devices-head-checkbox checkbox check-on"></div>
                    <div class="address-green">
                        <p class="address-count">4</p>
                    </div>
                    <h2>Pinewood Avenue 37</h2>
                    <img class="openclose" src="../static/media/openclose.png" alt="">
                    <img class="edit" src="../static/media/edit.png" alt="">
                </div>
                <div class="address-content">
                    <div class="month-nav">
                        <p class="monthtext">JAN</p>
                        <p class="monthtext">FEB</p>
                        <p class="monthtext">MAR</p>
                        <p class="monthtext">APR</p>
                        <p class="monthtext">MAY</p>
                        <p class="monthtext">JUN</p>
                        <p class="monthtext">JUL</p>
                        <p class="monthtext">AUG</p>
                        <p class="monthtext">SEP</p>
                        <p class="monthtext">OCT</p>
                        <p class="monthtext">NOV</p>
                        <p class="monthtext">DEC</p>
                    </div>
                    <div class="device-line">
                        <div class="devices-checkbox checkbox check-on"></div>
                        <img class="el" src="../static/media/L-devices.png" alt="">
                        <p class="device-name">Flat 1</p>
                        <div class="device-values">
                            <div class="month g"></div>
                            <div class="month y"></div>
                            <div class="month r"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month"></div>
                        </div>
                    </div>
                    <div class="device-line">
                        <div class="devices-checkbox checkbox check-off"></div>
                        <img class="el" src="../static/media/L-devices.png" alt="">
                        <p class="device-name">Flat 1</p>
                        <div class="device-values">
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month r"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month y"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month"></div>
                        </div>
                    </div>
                    <div class="device-line">
                        <div class="devices-checkbox checkbox check-off"></div>
                        <img class="el" src="../static/media/L-devices.png" alt="">
                        <p class="device-name">Flat 1</p>
                        <div class="device-values">
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month r"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month y"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month"></div>
                        </div>
                    </div>
                    <div class="device-line">
                        <div class="devices-checkbox checkbox check-off"></div>
                        <img class="el" src="../static/media/L-devices.png" alt="">
                        <p class="device-name">Flat 1</p>
                        <div class="device-values">
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month r"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month y"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="address">
                <div class="address-head">
                    <div class="devices-head-checkbox checkbox check-on"></div>
                    <div class="address-green">
                        <p class="address-count">4</p>
                    </div>
                    <h2>Pinewood Avenue 37</h2>
                    <img class="openclose" src="../static/media/openclose.png" alt="">
                    <img class="edit" src="../static/media/edit.png" alt="">
                </div>
                <div class="address-content">
                    <div class="month-nav">
                        <p class="monthtext">JAN</p>
                        <p class="monthtext">FEB</p>
                        <p class="monthtext">MAR</p>
                        <p class="monthtext">APR</p>
                        <p class="monthtext">MAY</p>
                        <p class="monthtext">JUN</p>
                        <p class="monthtext">JUL</p>
                        <p class="monthtext">AUG</p>
                        <p class="monthtext">SEP</p>
                        <p class="monthtext">OCT</p>
                        <p class="monthtext">NOV</p>
                        <p class="monthtext">DEC</p>
                    </div>
                    <div class="device-line">
                        <div class="devices-checkbox checkbox check-on"></div>
                        <img class="el" src="../static/media/L-devices.png" alt="">
                        <p class="device-name">Flat 1</p>
                        <div class="device-values">
                            <div class="month g"></div>
                            <div class="month y"></div>
                            <div class="month r"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month"></div>
                        </div>
                    </div>
                    <div class="device-line">
                        <div class="devices-checkbox checkbox check-off"></div>
                        <img class="el" src="../static/media/L-devices.png" alt="">
                        <p class="device-name">Flat 1</p>
                        <div class="device-values">
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month r"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month y"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month"></div>
                        </div>
                    </div>
                    <div class="device-line">
                        <div class="devices-checkbox checkbox check-off"></div>
                        <img class="el" src="../static/media/L-devices.png" alt="">
                        <p class="device-name">Flat 1</p>
                        <div class="device-values">
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month r"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month y"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month"></div>
                        </div>
                    </div>
                    <div class="device-line">
                        <div class="devices-checkbox checkbox check-off"></div>
                        <img class="el" src="../static/media/L-devices.png" alt="">
                        <p class="device-name">Flat 1</p>
                        <div class="device-values">
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month r"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month y"></div>
                            <div class="month g"></div>
                            <div class="month g"></div>
                            <div class="month"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottom-toolbar">
                <span id="actions-title">
                    <h2>Actions</h2>
                    <p id="no-selected">(5 Selected)</p>
                </span>
                <br>
                <span id="analysebutton">
                    <img src="../static/media/analyse.png" alt="">
                    <div id="analyse-physbutton">
                        <p id="analysebutttext">Analyse</p>
                    </div>
                </span>
                <span id="analysebutton">
                    <img src="../static/media/plan.png" alt="">
                    <div id="analyse-physbutton">
                        <p id="analysebutttext">Plan a self-check</p>
                    </div>
                </span>
                <span id="exportbutton">
                    <img src="../static/media/export.png" alt="">
                    <div id="export-physbutton">
                        <p id="analysebutttext">Export as .pdf</p>
                    </div>
                </span>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/devices.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../static/js/printPDF.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>