{% extends 'base.html'  %}
{% block title %}Create an organisation{% endblock %}

{% block container %}
    {% for field, errors in form.errors.items() %}
        <h4 class="alert alert-danger">{{ ', '.join(errors) }}</h4>
    {% endfor %}

    <form method="post">
        {{ form.hidden_tag() }}  <!--Cross-site request forgery attack-->
        <div class="card mx-auto w-50 p-4 m-2">
            <div class="card-title text-center">
                <h4>Register</h4>
            </div>
            <div class="card-subtitle mb-4 text-center">
                <h6>Please register your Organization!</h6>
            </div>
            <fieldset class="form-group">
                <ul style="list-style-type: none">
                    <li class="m-2">{{ form.name.label }} {{ form.name }}</li>
                    <li class="m-2">{{ form.email.label }} {{ form.email }}</li>
                    <li class="m-2">{{ form.country.label }} {{ form.country }}</li>
                    <li class="m-2">{{ form.postcode.label }} {{ form.postcode }}</li>
                    <li class="m-2">{{ form.password.label }} {{ form.password }}</li>
                    <li class="m-2">{{ form.confirm_password.label }} {{ form.confirm_password }}</li>
                </ul>
                <div class="text-center mt-2">{{ form.submit }}</div>
            </fieldset>
            <p class="text-muted mt-3 text-center">Already have an account? <a href="{{ url_for('main.login') }}">Sign in!</a></p>
        </div>
    </form>

{% endblock %}
