<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/CreateAcc.css">
</head>

<body>
    <header>
        <div class="headbox">
            <img src="/dashboard/Assets/toplogo.png">
        </div>
    </header>
    <div class="login">
    <form class="box" method="post">
         <div class="form">
            <h1>Register</h1>
            <h2>Please Register your Organization</h2>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Organization Name</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Country</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Postcode</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Password</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Confirm Password</span>
                <i></i>
            </div>
            <input type="submit" value="Register">
            <div class="links">
                <a class="nav-link" href="{{ url_for('main.login') }}">Already have a account</a>
            </div>
         </div>
    </form>
</div>
</body>

</html>